#!/bin/sh
WAZO_AGID="/usr/lib/python3/dist-packages/wazo_agid/"

case "$1" in
build)
    python3 setup.py bdist -d dist/python3
    ;;

package)
    tar xvf dist/python3/workano-outcall-survey-plugin-*.tar.gz -C ${pkgdir}
    cp -R etc ${pkgdir}/
    cp -R wazo_agid ${pkgdir}/
    ;;

install)
    cp -f wazo_agid/handlers/outcall_survey.py ${WAZO_AGID}/handlers/outcall_survey.py
    cp -f wazo_agid/modules/outcall_survey_set_features.py ${WAZO_AGID}/modules/outcall_survey_set_features.py
    cp -f wazo_agid/modules/outcall_survey_log.py ${WAZO_AGID}/modules/outcall_survey_log.py
    cp -f wazo_agid/objects_workano_outcall_survey.py ${WAZO_AGID}/objects_workano_outcall_survey.py
    cp -f wazo_agid/modules/outcall_survey_save_voicemail.py ${WAZO_AGID}/modules/outcall_survey_save_voicemail.py
    systemctl restart wazo-confd
    systemctl restart wazo-agid

    asterisk -x 'dialplan reload'

    ;;

uninstall)
    rm -f /etc/wazo-confd/conf.d/50-workano-outcall-survey-plugin.yml
    rm -f /etc/asterisk/extensions_extra.d/outcall-survey.conf
    rm -f  ${WAZO_AGID}/handlers/outcall_survey.py
    rm -f  ${WAZO_AGID}/modules/outcall_survey_set_features.py
    rm -f  ${WAZO_AGID}/modules/outcall_survey_log.py
    rm -f  ${WAZO_AGID}/objects_workano_outcall_survey.py
    rm -f  ${WAZO_AGID}/modules/outcall_survey_save_voicemail.py

    systemctl restart wazo-confd
    systemctl restart wazo-agid

    asterisk -x 'dialplan reload'
    ;;

postrm) ;;

    *)
    echo "$0 called with unknown argument '$1'" >&2
    exit 1
    ;;
esac
